/* Default link */
mat-nav-list a {
  position: relative;
  color: rgba(255,255,255,.5);
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  /* Brighten the text on hover */
  mat-nav-list a:hover {
    color: white;
  }

  /* Semi-transparent overlay for hovered links */
    mat-nav-list a:hover::before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: var(--hover-overlay-color);
    }

  /* The link for the currently active route */
  mat-nav-list a.active {
    color: white;
    background-color: var(--star-color);
  }

  /* Icons */
  mat-nav-list a .mat-icon {
    margin-right: 10px;
  }
