<nav class='main-nav navbar navbar-expand-md navbar-dark bg-dark'>
  <div class='container-fluid'>

    <a class='navbar-brand' [routerLink]='["/"]'>
      <img src="assets/images/MP2Web-sm.png" alt="MP2Web">
    </a>

    <button type='button' class='navbar-toggler' (click)="toggle()">
      <span class='sr-only'>Toggle navigation</span>
      <span class='navbar-toggler-icon'></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar"
         [ngClass]="{ 'show': isExpanded }">
      <ul class='navbar-nav'>
        <li class="nav-item" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link" [routerLink]='["/"]' (click)='collapse()'>
            <span class='fa fa-home'></span> Home
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["active"]'>
          <a class="nav-link" [routerLink]='["/movies"]' (click)='collapse()'>
            <span class='fas fa-film'></span> Movies
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["active"]'>
          <a class="nav-link" [routerLink]='["/series"]' (click)='collapse()'>
            <span class='fab fa-youtube'></span> Series
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["active"]'>
          <a class="nav-link" [routerLink]='["/music"]' (click)='collapse()'>
            <span class='fas fa-headphones-alt'></span> Music
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["active"]'>
          <a class="nav-link" [routerLink]='["/images"]' (click)='collapse()'>
            <span class='fas fa-images'></span> Images
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]='["active"]'>
          <a class="nav-link" [routerLink]='["/tv"]' (click)='collapse()'>
            <span class='fas fa-tv'></span> TV
          </a>
        </li>
        <li class="nav-item">
          <div class="nav-link">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1" [ngModel]="isDarkMode" (ngModelChange)="toggleDarkMode($event)">
              <label class="custom-control-label" for="customSwitch1">Dark mode</label>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
