<mat-nav-list>
  <a mat-list-item [routerLink]='["/"]' routerLinkActive='active' [routerLinkActiveOptions]='{ exact: true }'
     class="app-menu-button"
     (click)='onNavLinkClicked()'>
    <mat-icon>home</mat-icon>
    Home
  </a>
  <a mat-list-item [routerLink]='["/movies"]' routerLinkActive='active'
     class="app-menu-button"
     (click)='onNavLinkClicked()'>
    <mat-icon>movie</mat-icon>
    Movies
  </a>
  <a mat-list-item [routerLink]='["/series"]' routerLinkActive='active'
     class="app-menu-button"
     (click)='onNavLinkClicked()'>
    <mat-icon>ondemand_video</mat-icon>
    Series
  </a>
  <a mat-list-item [routerLink]='["/music"]' routerLinkActive='active'
     class="app-menu-button"
     (click)='onNavLinkClicked()'>
    <mat-icon>headset</mat-icon>
    Music
  </a>
  <a mat-list-item [routerLink]='["/images"]' routerLinkActive='active'
     class="app-menu-button"
     (click)='onNavLinkClicked()'>
    <mat-icon>photo</mat-icon>
    Images
  </a>
  <a mat-list-item [routerLink]='["/tv"]' routerLinkActive='active'
     class="app-menu-button"
     (click)='onNavLinkClicked()'>
    <mat-icon>tv</mat-icon>
    TV
  </a>
  <a mat-list-item [routerLink]='["/settings"]' routerLinkActive='active'
     class="app-menu-button"
     (click)='onNavLinkClicked()'>
    <mat-icon>settings</mat-icon>
    Settings
  </a>
</mat-nav-list>
