.epg-header-container {
  overflow: hidden;
  align-items: flex-end;
}

/* Cancel out the padding added by mat-form-field */
.epg-group-form-field {
  margin-bottom: -1.25rem;
}

/* Pad the time the same as the group mat-select so the text is aligned */
.epg-time-label {
  padding: 8px;
}

/* Vertical line indicating the current time */
.epg-current-time-indicator {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0.4;
}
