<div class="container" fxLayout="column">

  <div fxLayout="row" class="epg-header-container">
    <mat-form-field appearance="none" fxFlex="0 0 20%" class="epg-group-form-field">
      <mat-select [value]="selectedGroupId$ | async" (selectionChange)="setSelectedGroupId($event.value)">
        <mat-option *ngFor="let group of groups$ | async" [value]="group.Id">
          {{group.GroupName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span fxFlex="0 0 20%" class="epg-time-label">
      {{guideStartTime | date:'h:mm'}}
    </span>

    <span fxFlex="0 0 20%"></span>

    <span fxFlex="0 0 20%" class="epg-time-label">
      {{(guideStartTime + (guideDurationInMinutes * 30000)) | date:'h:mm'}}
    </span>

    <span fxFlex="0 0 20%" fxLayout="row" fxLayoutAlign="end">

      <button mat-icon-button (click)="moveGuideStartTime(-15)">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button (click)="moveGuideStartTime(15)">
        <mat-icon>chevron_right</mat-icon>
      </button>

    </span>
  </div>

  <ng-container *ngIf="guideRows$ | async as rows; else loading">
    <div *ngFor="let row of rows" fxLayout="row" class="epg-row-container">

      <!-- Channel name -->
      <div fxFlex="0 0 20%">
        <div class="epg-item channel">
          <!-- Channel logo -->
          <img [src]="artworkService.getArtworkUrl(12, row.channel.Id, 5)" />
          <span class="epg-item-title">
            {{row.channel.Title}}
          </span>
        </div>
      </div>

      <!-- Channel programs -->
      <ng-container *ngIf="row.programs && row.programs.length > 0; else noGuideData">
        <!-- After the channel name we have 80% of the width remaining, so a program's
             width is 80% of it's time as a proportion of the total guide time.
          (click)="openProgramDialog(program)"-->
        <a *ngFor="let program of row.programs"
                [fxFlex]="'0 0 calc(' + (80 * (program | guideWidth:guideStartTime:guideEndTime)) + '%)'"
                mat-button class="epg-item-button"
                [routerLink]="['../program', program.Id]"
                [state]="{ program: program }">

          <div fxLayout="row" fxLayoutAlign="start center"
               class="epg-item program"
               [class.airing]="program | isAiring:currentTime">

            <div fxFlex="1 1 100%" class="epg-item-title" style="text-align:left;">
              {{program.Title}}
            </div>

            <mat-icon *ngIf="program.IsScheduled"
                      fxFlex="0 0 auto"
                      style="color: red;">
              fiber_manual_record
            </mat-icon>
          </div>

        </a>
      </ng-container>

      <ng-template #noGuideData>
        <div fxFlex="0 0 80%">
          <div class="epg-item program">
            <span class="epg-item-title">
              No guide data available
            </span>
          </div>
        </div>
      </ng-template>

    </div>
  </ng-container>

  <ng-template #loading>
    <div fxFlex="0 0 100%">
      <mat-spinner diameter="48" style="margin:16px auto;"></mat-spinner>
    </div>
  </ng-template>

</div>
