<div class="container" fxLayout="column">

  <div fxLayout="row" class="epg-header-container">
    <mat-form-field appearance="none" fxFlex="0 0 20%" class="epg-group-form-field">
      <mat-select [value]="selectedGroupId$ | async" (selectionChange)="setSelectedGroupId($event.value)">
        <mat-option *ngFor="let group of groups$ | async" [value]="group.Id">
          {{group.GroupName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span fxFlex="0 0 20%" class="epg-time-label">
      {{guideStartTime | date:'h:mm'}}
    </span>

    <span fxFlex="0 0 20%"></span>

    <span fxFlex="0 0 20%" class="epg-time-label">
      {{(guideStartTime + (guideDurationInMinutes * 30000)) | date:'h:mm'}}
    </span>

    <span fxFlex="0 0 20%" fxLayout="row" fxLayoutAlign="end">

      <button mat-icon-button (click)="moveGuideStartTime(-15)">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button (click)="moveGuideStartTime(15)">
        <mat-icon>chevron_right</mat-icon>
      </button>

    </span>
  </div>

  <!-- Abuse the ngIf to give us an object that subscribes to the observables in a single place. -->
  <ng-container *ngIf="{
                  channels: channels$ | async,
                  programsByChannel: programsByChannel$ | async,
                  schedulesByChannel: schedulesByChannel$ | async
                } as guide">
    <div *ngIf="guide.channels?.length > 0; else loading"
         style="position: relative;">

      <app-epg-row *ngFor="let channel of guide.channels"
                   [channel]="channel"
                   [programs]="guide.programsByChannel ? guide.programsByChannel[channel.Id]?.Programs : undefined"
                   [schedules]="guide.schedulesByChannel ? guide.schedulesByChannel[channel.Id] : undefined"
                   [startTime]="guideStartTime"
                   [endTime]="guideEndTime"
                   [currentTime]="currentTime">
      </app-epg-row>

      <div *ngIf="currentTime >= guideStartTime && currentTime < guideEndTime"
           class="epg-current-time-indicator"
           [style.left]="20 + (80 * (currentTime - guideStartTime) / (guideEndTime - guideStartTime)) + '%'">
      </div>

    </div>
  </ng-container>

  <ng-template #loading>
    <div fxFlex="0 0 100%">
      <mat-spinner diameter="48" style="margin:16px auto;"></mat-spinner>
    </div>
  </ng-template>

</div>
