<app-background-artwork #fanartBackground
                        [mediaType]="7" [fileType]="1" [imageWidth]="1024" [imageHeight]="768">
</app-background-artwork>

<!-- Layout/sort bar, always visible -->
<div class="media-top-bar">
  <!-- Use the same container class as the content below to to ensure alignment -->
  <div class="container">
    <app-media-list-filter [viewState]="viewState$ | async"
                           [sortFields]="sortFields"
                           (filterChanged)="onViewStateChanged($event)">
    </app-media-list-filter>
  </div>
</div>

<!-- Adds a margin the same size as the bar, so that the below container starts below it -->
<div class="media-top-bar-fix"></div>

<div class="container">

  <app-list-view [items]="items$ | async"
                 [gridItemTemplate]="gridItemTemplate"
                 [listItemTemplate]="listItemTemplate"
                 [layout]="(viewState$ | async)?.layout">

    <ng-template #gridItemTemplate let-album>
      <!-- Navigate to the details page on click -->
      <a (click)="onSelectedItemChanged(album)" (mouseover)="fanartBackground.itemId = album.Id" [routerLink]="['/music/album', album.Id]">
        <app-grid-album [item]="album"></app-grid-album>
      </a>
    </ng-template>

    <ng-template #listItemTemplate let-album>
      <!-- Navigate to the details page on click -->
      <a (click)="onSelectedItemChanged(album)" (mouseover)="fanartBackground.itemId = album.Id" [routerLink]="['/music/album', album.Id]">
        <app-list-album [item]="album"></app-list-album>
      </a>
    </ng-template>

  </app-list-view>

</div>
