<div class="form-row mt-1">

  <div class="col"></div>

  <div class="col-auto ml-3 fixed-center">
    <select class="custom-select" (change)="onSortFieldChanged($event.target.value)">
      <option *ngFor="let sortField of sortFields" value={{sortField.name}} [selected]="sortField.field == currentSort">
        {{sortField.name}}
      </option>
    </select>
  </div>

  <div class="col-auto mt-1 mr-1 ml-n4 mb-1">
    <span class="fas fa-th ml-n3" style="font-size:14px; color:var(--primary-text-color);"></span>
  </div>

  <div class="col-auto ml-3 fixed-center">
    <select class="custom-select" (change)="onSortFieldChanged($event.target.value)">
      <option *ngFor="let sortField of sortFields" value={{sortField.name}} [selected]="sortField.field == currentSort">
        {{sortField.name}}
      </option>
    </select>
  </div>

  <div class="col-auto mt-1 mr-1 ml-n4 mb-1">
    <span class="fas fa-filter ml-n3" style="font-size:14px; color:var(--primary-text-color);"></span>
  </div>

  <div class="col-auto ml-3 fixed-center">
    <select class="custom-select" (change)="onSortFieldChanged($event.target.value)">
      <option *ngFor="let sortField of sortFields" value={{sortField.name}} [selected]="sortField.field == currentSort">
        {{sortField.name}}
      </option>
    </select>
  </div>

  <div class="col-auto mt-2 mr-1 ml-n4 mb-2">
    <span class="fas fa-sort ml-n2" style="font-size:20px; color:var(--primary-text-color);"></span>
  </div>

  <div class="col-auto fixed-center" style="margin-right: 0.5em">
    <select class="custom-select" (change)="onSortOrderChanged($event.target.value)">
      <option *ngFor="let sortOrder of sortOrders" value={{sortOrder.name}} [selected]="sortOrder.order == currentOrder">
        {{sortOrder.name}}
      </option>
    </select>
  </div>

</div>
