<app-background-artwork [mediaType]="0" [fileType]="1" [imageWidth]="1024" [imageHeight]="768"
                        [itemId]="(movie$ | async)?.Id">
</app-background-artwork>

<div *ngIf="movie$ | async as movie; else loading" class="container-fluid">

  <div class="media-details-container">

    <div class="row">
      <div class="col-4 col-lg-auto">
        <img class="media-details-image" [src]="artworkService.getMediaItemCoverUrl(movie, 0)"/>
      </div>
      <div class="col">
        <h6 class="media-title responsive-font-lg">{{movie.Title}}</h6>
        <div class="metadata responsive-font-md" style="opacity:0.8;">
          <span class="score">
            <app-star-rating [rating]="movie.Rating | number: '1.0-0'" class="star"></app-star-rating>
            <span class="text-truncate ml-2">{{movie.Rating | number: '1.0-0'}}/10</span>
          </span>
          <div>
            <i class="far fa-calendar-alt" style="margin-top:2px; margin-bottom:4px; margin-right: 2px;"></i>
            <span style="margin-top:2px; margin-bottom:4px"> {{movie.Year}}</span>
          </div>
          <div>
            <i class="fa fa-clock-o" style="margin-top:2px; margin-bottom:4px; margin-right: 2px;"></i>
            <span style="margin-top:2px; margin-bottom:4px"> {{movie.Runtime}} minutes</span>
          </div>
        </div>
      </div>
      
<!--div class="col" [lazyLoad]="artworkService.getArtworkUrl(0, movie.Id, 5, 0, 300, 170)" style="background-size: cover;"></div-->

    </div>

    <div class="row media-summary mt-1">
      <div class="col" style="opacity:0.8">{{movie.Summary}}</div>
    </div>

    <div class="row mt-1">
      <app-video-player [mediaItem]="movie" style="width: 100%;"></app-video-player>
    </div>

    <div class="row mt-1">
      <div class="col">
        <table class="metadata" style="text-align:justify;">
            <tr>
              <th class="fas fa-theater-masks"></th>
              <td>Genres</td>
              <td>{{movie.Genres.join(', ')}}</td>
            </tr>
            <tr>
              <th class="fas fa-user"></th>
              <td>Actors</td>
              <td>{{mapProperty(movie.Actors, 'Title').join(', ')}}</td>
            </tr>
            <tr>
              <th class="fas fa-user-tie"></th>
              <td>Director</td>
              <td>{{movie.Directors.join(', ')}}</td>
            </tr>
            <tr>
              <th class="fas fa-user-tag"></th>
              <td>Writers</td>
              <td>{{movie.Writers.join(', ')}}</td>
            </tr>
            <tr>
              <th class="fa fa-commenting"></th>
              <td>Language</td>
              <td>{{movie.Language}}</td>
            </tr>
            <tr>
              <th class="fa fa-hashtag"></th>
              <td>Id</td>
              <td>{{movie.Id}}</td>
            </tr>
        </table>
      </div>
    </div>

  </div>
</div>

<ng-template #loading>
  <mat-spinner diameter="48" style="margin:16px auto;"></mat-spinner>
</ng-template>
