<!-- Card container, primary background, small shadow, background image lazily loaded when visible -->
<div class="grid-container">
  <div class="media-card-img poster-card" [lazyLoad]="artworkService.getMediaItemCoverUrl(item, 0)"></div>

  <div class="media-card-overlay">

    <h6 class="media-title text-truncate">{{item.Title}}</h6>

    <div class="container">
      <div class="row">
        <div class="col-4 metadata">
          <i class="fa fa-star star" aria-hidden="true"></i>
          <p>{{item.Rating | number: '1.0-0'}}/10</p>
        </div>
        <div class="col-8 metadata metadata-right">
          <p>{{item.Year}}</p>
          <p>{{item.Runtime}} minutes</p>
        </div>
      </div>
    </div>

  </div>
</div>
