/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');

/* Variables used to alter the color pallet throughout the app */
body {
  --primary-text-color: #414345;
  --secondary-text-color: #777777;
  --primary-background-color: #ffffff;
  --primary-background-alpha: rgba(255, 255, 255, 0.85);
  --primary-background-alpha-stronger: rgba(255, 255, 255, 0.4);
  --secondary-background-color: #f8f9fa;
  --star-color: rgba(231,99,26,0.9);
  --hover-overlay-color: rgba(110,110,110,0.2);
  --hover-overlay-stronger-color: rgba(110,110,110,0.4);
  --button-background-color: rgba(0,0,0,0.1);
  --button-color: rgba(0,0,0,0.5);
  --invert-parameter: 0;
}

  body.theme-dark {
    --primary-text-color: #ffffff;
    --secondary-text-color: #f8f9fa;
    --primary-background-color: #414345;
    --primary-background-alpha: rgba(65, 66, 67, 0.85);
    --primary-background-alpha-stronger: rgba(0, 0, 0, 0.6);
    --secondary-background-color: #777777;
    --star-color: rgba(231,99,26,0.9);
    --hover-overlay-color: rgba(220,220,220,0.2);
    --hover-overlay-stronger-color: rgba(220,220,220,0.4);
    --button-background-color: rgba(0,0,0,0.4);
    --button-color: rgba(255,255,255,0.6);
    --invert-parameter: 0.8;
  }

body {
  background-color: var(--secondary-background-color);
  font-family: 'Open Sans', sans-serif;
}

/* Media queries to set responsive font sizes */

.responsive-font-lg {
  font-size: 19px !important;
}

.responsive-font-md {
  font-size: 14px !important;
}

@media (min-width: 768px) {
  .responsive-font-lg {
    font-size: 21px !important;
  }

  .responsive-font-md {
    font-size: 15px !important;
  }  
}

@media (min-width: 992px) {
  .responsive-font-lg {
    font-size: 23px !important;
  }

  .responsive-font-md {
    font-size: 16px !important;
  }
}

@media (min-width: 1200px) {
  .responsive-font-lg {
    font-size: 25px !important;
  }

  .responsive-font-md {
    font-size: 17px !important;
  }
}
