/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

/* Variables used to alter the color pallet throughout the app */
body {
  --primary-text-color: #414345;
  --secondary-text-color: #777777;
  --primary-background-color: #ffffff;
  --primary-background-alpha: rgba(255, 255, 255, 0.85);
  --secondary-background-color: #f8f9fa;
  --star-color: #ff9d00;
  --frame-color: #ced4da;
}

  body.theme-dark {
    --primary-text-color: #ffffff;
    --secondary-text-color: #f8f9fa;
    --primary-background-color: #414345;
    --primary-background-alpha: rgba(65, 66, 67, 0.85);
    --secondary-background-color: #777777;
    --star-color: rgba(231,99,26,0.9);
    --frame-color: #888888;
  }

body {
  background-color: var(--secondary-background-color);
  font-family: 'Open Sans', sans-serif;
}
