.program-container {
  background-color: var(--primary-background-color);
}

.sub-container {
  padding: 8px;
}

.sub-container .mat-nav-list {
  margin: 0 -16px;
}

.player-container {
  position: relative;
  background-color: black;
  height: 200px;
  margin: 0 -15px;
}

.player-container.gt-sm {
  height: 400px;
}

.player-play-button {
  position: absolute;
  bottom: -28px;
  right: 28px;
}

.player-image {
  height: 100%;
  padding: 16px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 50% auto;
  background-position: center center;
}

.schedule-button {
}

  .schedule-button .mat-icon {
    color: red;
    margin-left: -8px;
  }

.title {
  margin: 2px 0;
}

h1, h2, h3, h4, h5, h6 {
  /*margin: 2px;*/
}
