<app-background-artwork #fanartBackground
                        [mediaType]="0" [fileType]="1" [imageWidth]="1024" [imageHeight]="768">
</app-background-artwork>

<!-- Layout/sort bar, always visible -->
<div class="media-top-bar">
  <!-- Use the same container class as the content below to to ensure alignment -->
  <div class="container">
    <app-media-list-filter [viewState]="movieListState$ | async"
                           [sortFields]="sortFields"
                           (filterChanged)="onFilterChanged($event)">
    </app-media-list-filter>
  </div>
</div>

<!-- Adds a margin the same size as the bar, so that the below container starts below it --> 
<div class="media-top-bar-fix"></div>

<div class="container">

  <app-media-list [items]="movies$ | async"
                  [gridItemTemplate]="gridItemTemplate"
                  [listItemTemplate]="listItemTemplate"
                  [layout]="(movieListState$ | async)?.currentLayout">

    <ng-template #gridItemTemplate let-movie>
      <!-- Navigate to the details page on click -->
      <a (click)="showMovieDetails(movie)" (mouseover)="fanartBackground.itemId = movie.Id" [routerLink]="['/movies', movie.Id]">
        <app-grid-movie [item]="movie"></app-grid-movie>
      </a>
    </ng-template>

    <ng-template #listItemTemplate let-movie>
      <!-- Navigate to the details page on click -->
      <a (click)="showMovieDetails(movie)" (mouseover)="fanartBackground.itemId = movie.Id" [routerLink]="['/movies', movie.Id]">
        <app-list-movie [item]="movie"></app-list-movie>
      </a>
    </ng-template>

  </app-media-list>

</div>
