<app-background-artwork #fanartBackground
                        [mediaType]="0" [fileType]="1" [imageWidth]="1024" [imageHeight]="768">
</app-background-artwork>

<div class="container">

  <div class="media-top-bar">
    <!-- Sort/filter bar, always visible -->
    <app-media-list-filter [listState]="movieListState$ | async"
                           [sortFields]="sortFields"
                           (filterChanged)="onFilterChanged($event)">
    </app-media-list-filter>
  </div>

  <app-media-list [items]="movies$ | async"
                  [gridItemTemplate]="gridItemTemplate">

    <ng-template #gridItemTemplate let-movie>
      <!-- Navigate to the details page on click -->
      <a (click)="showMovieDetails(movie)" (mouseover)="fanartBackground.itemId = movie.Id" [routerLink]="['/movies', movie.Id]">
        <app-grid-movie [item]="movie"></app-grid-movie>
      </a>
    </ng-template>

  </app-media-list>

</div>
