<app-background-artwork [mediaType]="0" [fileType]="1" [imageWidth]="1024" [imageHeight]="768"
                        [itemId]="(movie$ | async)?.Id">
</app-background-artwork>

<div *ngIf="movie$ | async as movie; else loading" class="container-fluid p-0">

  <div class="media-details-container" style="border-radius:3px; box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.4); margin-top:15px; background-color: var(--primary-background-alpha-stronger);">

    <div class="row">
      <div class="col-4 col-lg-auto">
        <img [src]="artworkService.getMediaItemCoverUrl(movie, 0)" class="img-fluid w-100" style="border-radius: 3px; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);" />
      </div>
      <div class="col">
        <h6 class="media-title" style="font-size: 18px;">{{movie.Title}}</h6>
        <div class="metadata" style="font-size: 14px; opacity:0.8">
          <app-star-rating [rating]="movie.Rating | number: '1.0-0'" class="star"></app-star-rating>
          <span class="text-truncate ml-2">{{movie.Rating | number: '1.0-0'}}/10</span>
          <p>{{movie.Year}}</p>
          <p>{{movie.Runtime}} minutes</p>
        </div>
      </div>
      
<!--div class="col" [lazyLoad]="artworkService.getArtworkUrl(0, movie.Id, 5, 0, 300, 170)" style="background-size: cover;"></div-->

    </div>

    <div class="row media-summary mt-1">
      <div class="col" style="opacity:0.8">{{movie.Summary}}</div>
    </div>

    <div class="row mt-1">
      <app-video-player [mediaItem]="movie" style="width: 100%;"></app-video-player>
    </div>

    <div class="row mt-1">
      <div class="col">
        <table class="table metadata">
          <tbody>
            <tr>
              <th scope="row" class="fas fa-theater-masks" style="width:90px;"> Genres</th>
              <td style="opacity:0.8">{{movie.Genres.join(', ')}}</td>
            </tr>
            <tr>
              <th scope="row" class="fas fa-user" style="width:90px;"> Actors</th>
              <td style="opacity:0.8">{{mapProperty(movie.Actors, 'Title').join(', ')}}</td>
            </tr>
            <tr>
              <th scope="row" class="fas fa-user-tie" style="width:90px;"> Director</th>
              <td style="opacity:0.8">{{movie.Directors.join(', ')}}</td>
            </tr>
            <tr>
              <th scope="row" class="fas fa-user-tag" style="width:90px;"> Writers</th>
              <td style="opacity:0.8">{{movie.Writers.join(', ')}}</td>
            </tr>
            <tr>
              <th scope="row" class="fa fa-commenting" style="width:90px;"> Language</th>
              <td style="opacity:0.8">{{movie.Language}}</td>
            </tr>
            <tr>
              <th scope="row" class="fa fa-hashtag" style="width:90px;"> Id</th>
              <td style="opacity:0.8">{{movie.Id}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
