<app-background-artwork #fanartBackground
                        [mediaType]="0" [fileType]="1" [imageWidth]="1024" [imageHeight]="768">
</app-background-artwork>

<div class="container">

  <div class="media-top-bar">
    <!-- Sort/filter bar, always visible -->
    <app-media-list-filter [listState]="movieListState$ | async"
                           [sortFields]="sortFields"
                           (filterChanged)="onFilterChanged($event)">
    </app-media-list-filter>
  </div>

  <!-- If no movies yet, show the loading template -->
  <div *ngIf="movies$ | async as movies; else loading" class="row card-group no-gutters mt-1">

    <app-media-list [items]="movies"
                    [gridItemTemplate]="gridItemTemplate">

      <ng-template #gridItemTemplate let-movie>
        <!-- Navigate to the details page on click -->
        <a (click)="showMovieDetails(movie)" (mouseover)="fanartBackground.itemId = movie.Id" [routerLink]="['/movies', movie.Id]">
          <app-grid-movie [item]="movie"></app-grid-movie>
        </a>
      </ng-template>

    </app-media-list>

  </div>

  <ng-template #loading>
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>

</div>
