<app-background-artwork #fanartBackground
                        [mediaType]="5" [fileType]="1" [imageWidth]="1024" [imageHeight]="768">
</app-background-artwork>

<div class="container">

  <div class="media-top-bar">
    <!-- Sort/filter bar, always visible -->
    <app-media-list-filter [listState]="seriesListState$ | async" [sortFields]="sortFields"
                           (filterChanged)="onFilterChanged($event)"></app-media-list-filter>

  </div>

  <app-media-list [items]="series$ | async"
                  [gridItemTemplate]="gridItemTemplate">

    <ng-template #gridItemTemplate let-serie>
      <!-- Navigate to the details page on click -->
      <a (click)="showSeriesDetails(serie)" (mouseover)="fanartBackground.itemId = serie.Id" [routerLink]="['/series', serie.Id]">
        <app-grid-series [item]="serie"></app-grid-series>
      </a>
    </ng-template>

  </app-media-list>

</div>
