<div class="waveWrapper waveAnimation" style="z-index:0; position:fixed">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png'); filter: invert(var(--invert-parameter)); "></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png'); filter: invert(var(--invert-parameter));"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png'); filter: invert(var(--invert-parameter));"></div>
    </div>
</div>
<div style="border-radius:3px; box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.4); margin-top:15px; margin-right:15px; background-color: var(--primary-background-alpha); position:absolute; z-index:1;">
  <div style="padding: 15px">
    <h1 style="color:var(--primary-text-color)">Welcome to MP2Web</h1>
    <p style="color:var(--primary-text-color); opacity:0.7;">Welcome to your new single-page application, built with:</p>
    <ul style="opacity:0.7;">
      <li style="color:var(--primary-text-color)"><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
      <li style="color:var(--primary-text-color)"><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
      <li style="color:var(--primary-text-color)"><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    </ul>
    <p style="color:var(--primary-text-color); opacity:0.7;">To help you get started, we've also set up:</p>
    <ul style="opacity:0.7;">
      <li style="color:var(--primary-text-color)"><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
      <li style="color:var(--primary-text-color)"><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
      <li style="color:var(--primary-text-color)"><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
    </ul>
    <p style="color:var(--primary-text-color); opacity:0.7;">The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
  </div>
</div>


