<mat-toolbar class="component-top-bar">
  <div class="container" fxLayout="row" fxLayoutAlign="center center">

    <div fxFlex="100" fxLayoutAlign="start center">
      <button appBackNavigation mat-icon-button aria-label="Navigate back" style="margin-left: -16px;">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <div fxFlex="100" fxLayoutAlign="center center">
      <h3 fxFlex="1 1 100%" class="text-truncate">{{(program$ | async)?.Title}}</h3>
    </div>

    <div fxFlex="100" fxLayoutAlign="end center">

    </div>

  </div>
</mat-toolbar>

<div class="container" style="margin-top: 56px;">

  <div *ngIf="program$ | async as program" fxLayout="column" class="container-fluid program-container">

    <div class="sub-container player-container" [ngClass.gt-sm]="'gt-sm'">

      <app-video-player [mediaItem]="playableItem$ | async" style="width: 100%;"></app-video-player>

    </div>

    <div class="sub-container">

      <div fxLayout="row" fxLayoutAlign="start start">

        <!--Program title, expands to fill available space-->
        <h3 fxFlex="1 1 100%">{{program.Title}}</h3>

        <!-- Record button container, only fills required space -->
        <div fxFlex="0 0 auto" style="margin: 1em 0;">

          <!--Either Record or Don't Record depending on the value of isScheduled$-->
          <ng-container *ngIf="isScheduled$ | async; else addScheduleTemplate">
            <button mat-raised-button class="schedule-button" (click)="cancelSchedule(program)">
              <mat-icon>fiber_manual_record</mat-icon>
              <span> Don't Record</span>
            </button>
          </ng-container>
          <ng-template #addScheduleTemplate>
            <button mat-raised-button class="schedule-button" (click)="addSchedule(program)">
              <mat-icon class="outlined">fiber_manual_record</mat-icon>
              <span> Record</span>
            </button>
          </ng-template>

        </div>

      </div>
      <h3 class="mat-subheading-2" style="display:inline;">
        {{program.StartTime | optionalDate:'shortDate'}} {{program.StartTime | date:'shortTime'}} - {{program.EndTime | date:'shortTime'}}
      </h3>

      <h3 *ngIf="channel$ | async as channel" class="mat-subheading-1" style="display:inline;">{{' | ' + channel.Title}}</h3>


    </div>

    <div class="sub-container">

      <p class="mat-body">{{program.Description}}</p>

      <mat-divider></mat-divider>

      <h4>On Next</h4>

      <mat-nav-list>

        <app-program-list-item *ngFor="let program of nextPrograms$ | async" [program]="program">
        </app-program-list-item>

      </mat-nav-list>

    </div>

  </div>

</div>
