<!--<mat-list>
  <mat-list-item *ngFor="let row of guideRows$ | async">{{row.programs.length}}</mat-list-item>
</mat-list>-->

<div class="container-fluid">
  <div *ngFor="let row of guideRows$ | async" fxLayout="row">

    <div class="guide-item channel" fxFlex="0 0 20%">
      <span class="guide-item-text">
        {{row.channel.Title}}
      </span>
    </div>

    <ng-container *ngIf="row.programs && row.programs.length > 0 else noGuideData">
      <!-- After the channel name we have 80% of the width remaining, so a program's width is 80% of it's time
           as a percentage of the total guide time, minus 4px to allow for the 2px margin on each side. -->
      <div *ngFor="let program of row.programs"
           class="guide-item program"
           [fxFlex]="'0 0 calc(' + (0.8 * program.percentOfGuideTime) + '% - 4px)'">
        <span class="guide-item-text">
          {{program.program.Title}}
        </span>
      </div>
    </ng-container>

    <ng-template #noGuideData>
      <div class="guide-item program" fxFlex="0 0 80%">
        <span class="guide-item-text">
          No guide data available
        </span>
      </div>
    </ng-template>

  </div>
</div>
