.guide-item {
  /* Vertically align the text */
  display: flex;
  align-items: center;
  /* Fixed height and padding */
  height: 50px;
  margin: 2px;
  padding: 5px;
  color: var(--primary-text-color);
}

  .guide-item.channel {
    background-color: var(--primary-background-color);
  }

  .guide-item.program {
    background-color: var(--secondary-background-color);
  }

.guide-item-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
