<!-- Card container, primary background, small shadow, background image lazily loaded when visible -->
<div class="grid-container">

  <div class="media-card-img square-card" [lazyLoad]="artworkService.getCoverUrl(7, item.Id, 0)"></div>

  <!-- Extended information, overlays the bottom of the poster image -->
  <div class="media-card-overlay">

    <!-- Full width title, truncate -->
    <h6 class="media-title text-truncate">{{item.Title}}</h6>
    <!-- 2 columns of metadata -->
    <div class="container">
      <div class="row">
        <!-- Column 1, star icon and rating -->
        <div class="col-4 metadata">
          <i class="fa fa-star star" aria-hidden="true"></i>
          <p>{{item.Rating | number: '1.0-0'}}/10</p>
        </div>
        <!-- Column 2, album artist and year, align right -->
        <div class="col-8 metadata metadata-right">
          <p>{{item.AlbumArtist}}</p>
          <p>{{item.Year}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
