.schedules {

}

.schedule-filter-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
}

.input-button {
  margin-right: 16px;
}

.input-label {
  font-weight: bold;
  font-size: 16px;
}

.schedules-list {
  margin: 8px 0px;
  background-color: var(--primary-background-color);
}

.schedule-header {
  padding: 8px;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: bold;
}
