.schedules-list {
  width: 100%;
  padding: 8px 0;
}

.schedule-container {
  display: block;
  width: 100%;
  background-color: var(--primary-background-color);
  border-radius: 0;
  border: 1px solid var(--secondary-background-color);
}

.schedule-header {
  padding: 8px 4px;
  color: var(--secondary-text-color);
  font-size: 14px;
}
