<h2>Series</h2>

<div *ngIf="!seriesItems && !errorMessage" class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="errorMessage" class="text-center">{{errorMessage}}</div>

<div class="container">
  <!-- the padding prevents hiding text under the footer -->
  <!--<div infinite-scroll (infinite-scroll-action)="loadMoreMovies()" [infinite-scroll-disabled]="moviesLoadingBussy" infinite-scroll-distance="1" style="margin: auto; display: inline-block">-->
  <div class="row card-group no-gutters">

    <div *ngFor="let series of seriesItems" class="col-6 col-sm-4 col-lg-3" style="cursor: pointer;">

      <div class="card">
        <div class="card-img media-card series-card" [ngStyle]="{'background-image': 'url(' + getImageUrl(series, 3, 0) + ')'}"></div>
        <!-- extended information -->
        <div class="card-img-overlay d-flex flex-column justify-content-end" style="padding: 0">
          <div class="media-card-overlay">
            <h6 class="card-title text-truncate">{{series.Title}}</h6>
            <div class="container">
              <div class="row">
                <div class="col-4 metadata">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <p class="text-truncate">{{series.Rating | number: '1.0-0'}}/10</p>
                </div>
                <div class="col-8 metadata metadata-right">
                  <div class="text-truncate">{{series.Genres.join(', ')}}</div>
                  <div class="text-truncate">{{series.EpisodeCount}} episodes</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!--</div>-->

</div>
