<div class="container">

  <div class="media-top-bar">
    <!-- Sort/filter bar, always visible -->
    <app-media-list-filter [listState]="seriesListState$ | async" [sortFields]="sortFields"
                           (filterChanged)="onFilterChanged($event)"></app-media-list-filter>

  </div>

  <!-- If no series yet, show the loading template -->
  <div *ngIf="series$ | async as series; else loading">

    <!-- Setup the bootstrap grid -->
    <div class="row card-group no-gutters mt-1">

      <!-- Create each series card column, 2 to a row on xs screens, rising to 4 in a row on lg and above -->
      <div *ngFor="let serie of series" class="col-6 col-sm-4 col-lg-3">

        <!-- Navigate to the details page on click -->
        <a (click)="showSeriesDetails(serie)" [routerLink]="['/series', serie.Id]">
          <app-grid-series [item]="serie"></app-grid-series>
        </a>

      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>

</div>
