.overlay {
  position: fixed;
  z-index: 0;
  display: block;
  opacity: 0.6;
  background-color: var(--secondary-background-color);
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fanArtBackground {
  position: fixed;
  z-index: -1;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
