.controls-container {
  font-size: 14px;
  color: white;
  overflow: hidden;
}

  /* The default mat-icon-button style changes the
     color when disabled, this overrides it. */
  .controls-container button.mat-icon-button {
    color: white;
  }

  .controls-container .timeline-container {
    margin: 10px 8px 8px 8px;
  }

.volume-container {
  display: inline-flex;
  align-items: center;
}

.volume-slider-container {
  overflow: hidden;
  width: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.volume-slider-container.show {
  width: 75px;
}

.volume-slider {
  width: 100%;
  margin-top: 10px;
}
