<app-background-artwork [mediaType]="7" [fileType]="1" [imageWidth]="1024" [imageHeight]="768"
                        [itemId]="(album$ | async)?.Id">
</app-background-artwork>

<div *ngIf="album$ | async as album; else loading" class="container p-0">

  <div class="media-details-container">

    <div class="row">
      <div class="col-4 col-lg-auto">
        <img class="media-details-image" [src]="artworkService.getCoverUrl(7, album.Id, 0)"/>
      </div>
      <div class="col">
        <h6 class="media-title responsive-font-lg">{{album.Title}}</h6>
        <div class="metadata responsive-font-md" style="opacity:0.8;">
          <app-star-rating [rating]="album.Rating | number: '1.0-0'" class="star"></app-star-rating>
          <span class="text-truncate ml-2">{{album.Rating | number: '1.0-0'}}/10</span>
          <div class="inline-icon-container">
            <mat-icon [inline]="true">people_alt</mat-icon>
            <span style="margin-top:2px; margin-bottom:4px"> {{album.AlbumArtist}}</span>
          </div>
          <div class="inline-icon-container">
            <mat-icon [inline]="true">calendar_today</mat-icon>
            <span> {{album.Year}}</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedTrack" class="row mt-1">
      <!--<app-video-player [mediaItem]="selectedTrack" style="width: 100%;"></app-video-player>-->
    </div>

    <div class="mt-1">
      <hr class="mb-1" />
      <a *ngFor="let track of tracks$ | async">
        <app-list-track [item]="track"></app-list-track>
      </a>
    </div>

    <div class="row mt-1">
      <div class="col">
        <table class="metadata">
          <tr>
            <th class="fas fa-theater-masks"></th>
            <td>Genres</td>
            <td>{{album.Genres.join(', ')}}</td>
          </tr>
          <tr>
            <th class="fas fa-user"></th>
            <td>Artists</td>
            <td>{{album.Artists.join(', ')}}</td>
          </tr>
          <tr>
            <th class="fa fa-hashtag"></th>
            <td>Id</td>
            <td>{{album.Id}}</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>

<ng-template #loading>
  <mat-spinner diameter="48" style="margin:16px auto;"></mat-spinner>
</ng-template>
