<div class="container">
  <div *ngIf="!playerSource" class="video-placeholder-container">
    <img class="placeholder" [src]="placeholderUrl" />
    <div *ngIf="!isLoading" class="play-button fas fa-play" (click)="play()"></div>
    <div *ngIf="isLoading" class="loading-spinner">
      <mat-spinner diameter="48" style="margin:16px auto;"></mat-spinner>
    </div>
  </div>

  <div *ngIf="playerSource"
       appFullscreen
       #fullscreen="fullscreen"
       class="video-player-container"
       [class.show]="showControls || (controls.playbackState$ | async) !== controls.PlaybackState.Playing"
       (mousemove)="doShowControls(false)">

    <video #player="videoPlayer"
           class="video-player"
           autoplay
           [appVideoPlayer]="playerSource"></video>

    <app-video-controls #controls
                        class="video-controls"
                        [player]="player"
                        [isFullscreen]="fullscreen.isFullscreen"
                        [disabled]="!showControls && (controls.playbackState$ | async) === controls.PlaybackState.Playing"
                        (toggleFullscreen)="fullscreen.toggleFullscreen()"
                        (mouseenter)="doShowControls(true)"
                        (mouseleave)="doHideControls()">
    </app-video-controls>
  </div>

</div>
