/*
  Base class for a media card to be displayed
  in a grid with a covering background image.
  Use in combination with one of the classes
  below to set the correct aspect ratio.
*/
.media-card {
  margin: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary-background-color);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  border: none;
  overflow: hidden;
}

.media-card-img {
  background-size: cover;
  background-repeat: no-repeat;
  /* SCALE */
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  /* short delay */
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
}

.media-card:hover .media-card-img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
  -webkit-filter: brightness(130%);
}

/* Poster aspect ratio */
.poster-card {
  padding-top: 148%;
}

/* Thumbnail aspect ratio */
.thumbnail-card {
  padding-top: 75%;
}

/* Square aspect ratio */
.square-card {
  padding-top: 100%;
}

/*
  Container for title and metadata to overlay
  the bottom of a card's background image. Set
  a white background and reasonable padding.
*/
.media-card-overlay {
  padding: 0.25rem;
  background-color: var(--primary-background-alpha);
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/*
  Media title, used for both cards and details screens,
  set font weight and reasonable margin
*/
.media-title {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

/*
  Container for a media details page. White background with small
  shadow. Should be centred with a reasonable max width.
*/
.media-details-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  background-color: var(--primary-background-alpha);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
}

/*
  Media summary, used in details screens, set slightly smaller font
  size and reasonable margins for potentially large block of text.
*/
.media-summary {
  padding-right: 15px;
  font-size: 0.9rem;
}

/* Container for media metadata, slightly smaller font size and lighter text xolour */
.metadata {
  display: block;
  padding: 0;
  font-size: 0.75rem;
  color: var(--secondary-text-color);
}

/* Used in combination with the metadata class for right aligning text */
.metadata-right {
  text-align: right;
}

  /* Metadata text, tight margins and truncate text that overflows */
  .metadata p {
    margin: 0px 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* Container for the star icon  */
  .metadata i {
    margin-top: 5px;
    margin-left: 1px;
  }

/* Colour for the star rating icons */
.star {
  color: var(--star-color)
}
