.media-details-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
}

.media-card {
  background-size: cover;
  background-repeat: no-repeat;
}

/* Poster aspect ratio */
.poster-card {
  padding-top: 148%;
}

/* Thumbnail aspect ratio */
.thumbnail-card {
  padding-top: 75%;
}

.media-card-overlay {
  padding: 0.25rem;
  background-color: white;
}

  .media-card-overlay .card-title {
    margin-bottom: 0.25rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #414345;
  }

.media-title {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #414345;
}

.media-summary {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  color: #414345;
  padding-left: 15px;
  padding-right: 15px;
}

.metadata {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  display: block;
  padding: 0;
  color: #8F9799;
}

  .metadata p {
    margin: 0px 1px;
  }

  .metadata i {
    color: #ff9d00;
    margin-top: 5px;
    margin-left: 1px;
  }

.metadata-right {
  text-align: right;
}

.yellow-star {
  color: #ff9d00;
}
