<app-background-artwork #fanartBackground
                        [mediaType]="7" [fileType]="1" [imageWidth]="1024" [imageHeight]="768">
</app-background-artwork>

<div class="container">

  <div class="media-top-bar">
    <!-- Sort/filter bar, always visible -->
    <app-media-list-filter [listState]="albumListState$ | async" [sortFields]="sortFields"
                           (filterChanged)="onFilterChanged($event)"></app-media-list-filter>

  </div>

  <app-media-list [items]="albums$ | async"
                  [gridItemTemplate]="gridItemTemplate">

    <ng-template #gridItemTemplate let-album>
      <!-- Navigate to the details page on click -->
      <a (click)="showAlbumDetails(album)" [routerLink]="['/music/album', album.Id]">
        <app-grid-album [item]="album"></app-grid-album>
      </a>
    </ng-template>

  </app-media-list>

</div>
