.menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.menu-open-button {
  background-color: var(--button-background-color);
  color: var(--button-color);
  border: none;
  border-radius: 3px;
  height: 30px;
  font-size: 20px;
  line-height: 20px;
  margin-left: 5px;
}

  .menu-open-button:hover {
    color: white;
    background-color: var(--hover-overlay-stronger-color);
  }
