<div class="menu-container" fxLayout>

  <!-- Grid/list layout buttons -->
  <div>
    <button mat-icon-button aria-label="Grid layout"
            (click)="onLayoutChanged(layouts.Grid)"
            [class.active]="viewState.layout === layouts.Grid">
      <mat-icon inline="true">view_comfy</mat-icon>
    </button>
    <button mat-icon-button aria-label="List layout"
            (click)="onLayoutChanged(layouts.List)"
            [class.active]="viewState.layout === layouts.List">
      <mat-icon inline="true">reorder</mat-icon>
    </button>
  </div>

  <!-- Flex box that expands to fill the remaining space to
      align the button groups at either end of the container -->
  <div fxFlex="1 1 auto"></div>

  <!-- Grid/list layout buttons -->
  <div>
    <button mat-icon-button aria-label="Sort order"
            [matMenuTriggerFor]="sortFieldMenu">
      <mat-icon inline="true">sort</mat-icon>
    </button>
    <mat-menu #sortFieldMenu class="app-menu-panel">
      <button *ngFor="let sortField of sortFields"
              mat-menu-item
              class="app-menu-button"
              [class.active]="sortField.field == viewState.sort"
              (click)="onSortFieldChanged(sortField.name)">
        {{sortField.name}}
      </button>
    </mat-menu>

    <button mat-icon-button aria-label="Sort order"
            [matMenuTriggerFor]="sortOrderMenu">
      <mat-icon inline="true">sort_by_alpha</mat-icon>
    </button>
    <mat-menu #sortOrderMenu class="app-menu-panel">
      <button *ngFor="let sortOrder of sortOrders"
              mat-menu-item
              class="app-menu-button"
              [class.active]="sortOrder.order == viewState.order"
              (click)="onSortOrderChanged(sortOrder.name)">
        {{sortOrder.name}}
      </button>
    </mat-menu>
  </div>

</div>
