.menu-container {
  align-items: center;
  height: 100%;
  background-color: var(--primary-background-color);
}

  button.mat-icon-button .mat-icon {
    color: var(--button-color);
    font-size: 30px;
    line-height: 30px;
  }

  button.mat-icon-button.active .mat-icon {
    color: var(--star-color);
  }
