<div class="container">
  <div *ngIf="playbackStatus !== 2" class="video-placeholder-container">
    <img class="placeholder" [src]="placeholderUrl" />
    <div *ngIf="playbackStatus === 0" class="play-button fas fa-play" (click)="play()"></div>
    <div *ngIf="playbackStatus === 1" class="loading-spinner">
      <mat-spinner diameter="48" style="margin:16px auto;"></mat-spinner>
    </div>
  </div>
  <video *ngIf="playbackStatus === 2" [appVideoPlayer]="streamUrl" autoplay controls style="width: 100%;"></video>
</div>
