th {
    padding-top:5px;
    color: var(--primary-text-color)
}

td {
    vertical-align: top;
    padding: 5px;
    opacity: 0.8;
    color: var(--primary-text-color)
}

tr {
    border-bottom: 1px solid var(--hover-overlay-color);
}

* {
  /* Calculation */
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}
