<app-background-artwork [mediaType]="5" [fileType]="1" [imageWidth]="1024" [imageHeight]="768"
                        [itemId]="(series$ | async)?.Id">
</app-background-artwork>

<div *ngIf="series$ | async as series; else loading" class="container p-0">

  <div class="media-details-container">

    <div class="row">
      <div class="col-4 col-lg-auto">
        <img class="media-details-image" [src]="artworkService.getCoverUrl(5, series.Id, 0)"/>
      </div>
      <div class="col">
        <h6 class="media-title responsive-font-lg">{{series.Title}}</h6>
        <div class="metadata responsive-font-md" style="opacity:0.8;">
          <app-star-rating [rating]="series.Rating | number: '1.0-0'" class="star"></app-star-rating>
          <span class="text-truncate ml-2">{{series.Rating | number: '1.0-0'}}/10</span>
          <div>
            <i class="fa fa-play-circle" style="margin-top:0px; margin-bottom:4px; margin-right: 2px;"></i>
            <span style="margin-top:2px; margin-bottom:4px"> {{series.SeasonCount}} Season(s), {{series.EpisodeCount}} Episode(s)</span>
          </div>
          <div>
            <i class="far fa-calendar-alt" style="margin-top:2px; margin-bottom:4px; margin-right: 2px;"></i>
            <span style="margin-top:2px; margin-bottom:4px"> {{series.Year}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row media-summary mt-1">
      <div class="col" style="opacity:0.8">{{series.Summary}}</div>
    </div>

    <div *ngIf="selectedEpisode" class="row mt-1">
      <app-video-player [mediaItem]="selectedEpisode" style="width: 100%;"></app-video-player>
    </div>

    <div *ngFor="let season of seasons$ | async" class="row mt-1">
      <div class="col">
        <hr class="mb-1" />
        <app-season-details [season]="season" (episodeSelected)="onEpisodeSelected($event)"></app-season-details>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col">
        <table class="metadata" style="text-align:justify;">
            <tr>
              <th class="fas fa-theater-masks"></th>
              <td>Genres</td>
              <td>{{series.Genres.join(', ')}}</td>
            </tr>
            <tr>
              <th class="fas fa-user"></th>
              <td>Actors</td>
              <td>{{mapProperty(series.Actors, 'Title').join(', ')}}</td>
            </tr>
            <tr>
              <th class="fa fa-hashtag"></th>
              <td>Id</td>
              <td>{{series.Id}}</td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <mat-spinner diameter="48" style="margin:16px auto;"></mat-spinner>
</ng-template>
