<app-background-artwork [mediaType]="0" [fileType]="1" [imageWidth]="1024" [imageHeight]="768"
                        [itemId]="(series$ | async)?.Id">
</app-background-artwork>

<div *ngIf="series$ | async as series; else loading" class="container p-0">

  <div class="media-details-container" style="border-radius:3px; box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.4); margin-top:15px; background-color: var(--primary-background-alpha-stronger);">

    <div class="row">
      <div class="col-4 col-lg-auto">
        <img [src]="artworkService.getCoverUrl(5, series.Id, 0)" class="img-fluid w-100" />
      </div>
      <div class="col">
        <h6 class="media-title">{{series.Title}}</h6>
        <div class="metadata">
          <app-star-rating [rating]="series.Rating | number: '1.0-0'" class="star"></app-star-rating>
          <span class="text-truncate ml-2">{{series.Rating | number: '1.0-0'}}/10</span>
          <p>{{series.Year}}</p>
          <p>{{series.EpisodeCount}} episodes</p>
        </div>
      </div>
    </div>

    <div class="row media-summary mt-1">
      <div class="col">{{series.Summary}}</div>
    </div>

    <div *ngIf="selectedEpisode" class="row mt-1">
      <app-video-player [mediaItem]="selectedEpisode" style="width: 100%;"></app-video-player>
    </div>

    <div *ngFor="let season of seasons$ | async" class="row mt-1">
      <div class="col">
        <hr class="mb-1" />
        <app-season-details [season]="season" (episodeSelected)="onEpisodeSelected($event)"></app-season-details>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col">
        <table class="table metadata">
          <tbody>
            <tr>
              <th scope="row">Genres</th>
              <td>{{series.Genres.join(', ')}}</td>
            </tr>
            <tr>
              <th scope="row">Actors</th>
              <td>{{mapProperty(series.Actors, 'Title').join(', ')}}</td>
            </tr>
            <tr>
              <th scope="row">Id</th>
              <td>{{series.Id}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
