<h2>Movies</h2>

<div *ngIf="!movies" class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="container">
  <!-- the padding prevents hiding text under the footer -->
  <!--<div infinite-scroll (infinite-scroll-action)="loadMoreMovies()" [infinite-scroll-disabled]="moviesLoadingBussy" infinite-scroll-distance="1" style="margin: auto; display: inline-block">-->
  <div class="movies row card-group no-gutters text-white">

    <div *ngFor="let movie of movies" class="col-6 col-sm-4 col-lg-3" style="cursor: pointer;">

      <div class="card">
        <div class="card-img movie-card" [ngStyle]="{'background-image': 'url(' + getImageUrl(movie, 3, 0) + ')'}"></div>
        <!-- extended information -->
        <div class="card-img-overlay d-flex flex-column justify-content-end" style="padding: 0">
          <div class="movie-overlay-content">
            <h6 class="card-title text-truncate">{{movie.Title}}</h6>
            <!--<starrating [rating]="movieList[x + i].TotalRating"></starrating>-->
            <p class=" text-truncate">Runtime: {{movie.Runtime}} minutes</p>
            <!--<p>{{movieList[x + i].Tagline}}</p>-->
          </div>
        </div>
      </div>

    </div>

  </div>
  <!--</div>-->

</div>
