.movie-card {
  padding-top: 148%;
  background-size: cover;
  background-repeat: no-repeat;
}

.movie-overlay-content {
  padding: 0.25rem 1rem;
  background: linear-gradient(to top, black, rgba(0,0,0,0.5))
}

  .movie-overlay-content .card-title {
    text-align: center;
    margin-bottom: 0.25rem;
  }
