<div class="form-row mt-1">

  <div class="col"></div>

  <div class="dropdown">
    <button class="dropbtn" style="height:30px">
      <div class="fas fa-th ml-n3" style="font-size:16px;  padding:5px"></div>
    </button>
    <div class="dropdown-content">
      <a *ngFor="let sortField of sortFields" [ngClass]="{ 'active': sortField.field == mediaListState.sort}">{{sortField.name}}</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn" style="height:30px">
      <div class="fas fa-filter ml-n3" style="font-size:16px; padding:5px"></div>
    </button>
    <div class="dropdown-content">
      <a *ngFor="let sortField of sortFields" [ngClass]="{ 'active': sortField.field == mediaListState.sort}">{{sortField.name}}</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn" style="height:30px">
      <div class="fas fa-sort ml-n3" style="font-size:20px; padding:5px"></div>
    </button>
    <div class="dropdown-content">
      <a *ngFor="let sortField of sortFields" (click)="onSortFieldChanged(sortField.name)" [ngClass]="{ 'active': sortField.field == mediaListState.sort}">{{sortField.name}}</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn" style="height:30px">
      <div class="fa fa-sort-alpha-asc ml-n3" style="font-size:16px; padding:5px"></div>
    </button>
    <div class="dropdown-content">
      <a *ngFor="let sortOrder of sortOrders" (click)="onSortOrderChanged(sortOrder.name)" [ngClass]="{ 'active': sortOrder.order == mediaListState.order}">{{sortOrder.name}}</a>
    </div>
  </div>

</div>
